{% extends 'base.html' %}
{% block content %}
    <section class="fdb-block py-0">
      {% load static %}
      <div class="container py-5 my-5" style="background-image: url({% static 'imgs/shapes/4.svg' %});">
        <div class=" row justify-content-end">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
            <div class="fdb-box">
              <div class="row">
                <div class="col">
                  <h1>Register as Patient</h1>
                  <p class="lead">Using eHealth for everyone as a patient you can view other patient data analytics and also input personal data for evaluation</p>
                </div>
              </div>
              <form method="post">
                  {% csrf_token %}

               <!-- Firstname Field -->
              <div class="row">
                <div class="col mt-4">
                  <input type="text" class="form-control" placeholder="Firstname" name="firstname" required>
                </div>
              </div>

               <!-- Lastname Field -->
              <div class="row">
                <div class="col mt-4">
                  <input type="text" class="form-control" placeholder="Lastname" name="lastname" required>
                </div>
              </div>


               <!-- Email Field -->
              <div class="row">
                <div class="col mt-4">
                  <input type="email" class="form-control" placeholder="Email" name="email" required>
                </div>
              </div>

              <!-- Username Field -->
              <div class="row">
                <div class="col mt-4">
                  <input type="text" class="form-control" placeholder="Username" name="username" required>
                </div>
              </div>


              <!-- Password Field -->
              <div class="row mt-4">
                <div class="col">
                  <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <button class="btn btn-secondary" type="submit">Submit</button>
                </div>
              </div>
            </form>

                {% for message in messages%}
                <div class="alert alert-danger login-error" role="alert">
                {{message}}
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}